/* =============================================================
   GENERAL STYLES
 ============================================================ */
/*body {
    font-family: 'Open Sans', sans-serif;
}*/

.pad-top {
    padding-top:60px;
}
.text-center {
    text-align:center;
}
i.fa {
    padding:5px;
}
section {
    padding-top:50px;
}

p {
    font-weight:300;
    line-height:30px;
}
.pad-row {
    padding-top:40px;
    padding-bottom:40px;
}
.pad-bottom {
    padding-bottom:50px;
}

/* NAVBAR STYLE */

.topnav {
    background-color: #33FF66;
}
.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.navbar-inverse .navbar-brand {
    color: #000;
}


/* ADDED PADDING IN NAVBAR */


.navbar {
    padding:15px;  
}
.navbar-logo {
    width:200px;
    height:50px;
}

/* CLASS FOR REMOVING PADDING IN NAVBAR*/


.navbar-pad-original {
      padding:0px;
}



/* CARUOSEL STYLE OR SLIDESHOW STYLE*/


.back-light {
    background-color:rgba(0, 0, 0, 0.50);
    padding:10px;
}
/*NOTE SECION STYLE*/
.note-sec {
    padding-bottom:50px;
    background: url(../img/4.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    min-height:300px;
    color:#fff;
}

/*HEADINGS IMAGE STYLE*/


.head-main-img {

    padding-bottom:50px;
    background: url(../img/headimage.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    min-height:300px;
   
}
.head-main-img h1 {
    padding: 50px 2px 2px 10px;
    text-transform:uppercase;
    font-family: 'Oxygen', sans-serif;
    color: #66FF66;
}

.carousel-inner{
    width:100%;
    max-height: 500px !important;
}
.stretch{
    width:100%;
    height:100%;
}

/*    PORTFOLIO STYLES*/
.portfolio-items {
    list-style: none;
    padding: 0;
    margin: 0;
}
.portfolio-items {
    margin-right: -20px;
}
.portfolio-items > li {
    /*float: left;*/
    display:inline-block;
    padding: 0;
    margin: 0;
}
.portfolio-items.col-3 > li {
    width: 33%;
}
.portfolio-item .item-main {
    margin: 0 10px 10px 0;
    text-align: center;
    background: #fff;
    padding: 10px;
    border:1px solid #E8EAEE;
    
    
  
}
.portfolio-item img {
    width: 100%;
}
.portfolio-item .portfolio-image {
    position: relative;
}
.portfolio-item h5 {
    margin: 0;
    padding: 30px 0 30px 0;
    background-color: #000;
    color: #fff;
    font-size: 20px;
}
.portfolio-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(177, 166, 255, 1);
    text-align: center;
    vertical-align: middle;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
    position: relative;
    top: 50%;
    display: inline-block;
    margin-top: -20px;
}
.portfolio-item:hover .overlay {
    opacity: 1;
}

/*CONTACT STYLES*/
.cnt {
    width: 100%;
    min-height: 350px;
    border: 1px solid #e1e1e1;
}
.add {
    font-size:20px;
    font-weight:800;
    padding:30px;
}
#contact-sec {
  padding-top:0px;
}


/* FOOTER STYLE*/
#footer-sec {
    background-color: #33FF66;
    color:#000;
}
#footer-sec h4 {
    text-transform:uppercase;
    color:#000;
}
.img-circle {
    width:200px;
    height:200px;
}

   